* {
	border: none;
	padding: 0px;
	border-radius: 0px;
	font-size: 16px;
	min-height: 0;
	padding: 0;
	margin: 0
}

window#waybar {
	background: transparent;
	color: #ebdbb2;
}

.modules-center {
	background:
		linear-gradient(#000000, #000000) padding-box,
		linear-gradient(165deg, #504945, #282828) border-box;

	border: 1px solid transparent;
	border-radius: 24px;

	padding: 4px 8px;
}

#clock,
#workspaces,
#pulseaudio,
#network,
#backlight,
#battery,
#tray {
	margin: 0 8px;
	color: #ebdbb2;
}

#battery {
	color: #b8bb26;
}

#backlight {
	color: #fabd2f;
}

#pulseaudio {
	color: #fe8019;
}

#network {
	color: #d3869b;
}


#tray {
	padding-left: 8px;
	padding-right: 4px;
	border-left: 2px solid #504945;

}
#workspaces button {
	padding: 3px 6px;
	background-color: transparent;
	color: #504945;
	border-radius: 100%;
	font-weight: bold;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.5);
	color: #ebdbb2;
}

#workspaces button.focused,
#workspaces button.active {
	color: #ebdbb2;
	background: linear-gradient(-20deg,
			#d65d0e,
			#d65d0e 50%,
			#fe8019 50%,
			#fe8019);
}

#workspaces button.urgent {
	background-color: #cc241d;
	color: #ebdbb2;
}
